<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.0</feature>
    <feature>jsonp-1.0</feature>
    <feature>cdi-1.2</feature>
    <feature>jsf-2.2</feature>
    <!-- Change this to jpa-2.2 with the 18.0.0.2 change in pom.xml -->
    <feature>jpa-2.1</feature>
    <feature>localConnector-1.0</feature>
    <feature>ejb-3.2</feature>
  </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />


    <application location="io.openliberty.guides.eventapp.war" type="war"
      id="io.openliberty.guides.eventapp" name="io.openliberty.guides.eventapp"
      context-root="/">
    </application>

    <!-- MySQL Library Configuration -->
    <library id="mysqlJDBCLib">
        <fileset dir="${shared.resource.dir}" includes="mysql-connector-java*.jar"/>
    </library>

    <!-- Datasource Configuration -->
    <dataSource id="jdbc/samplejpadatasource"
                jndiName="jdbc/samplejpadatasource">
        <jdbcDriver libraryRef="mysqlJDBCLib" />
        <properties serverName="localhost" databaseName="JPAIntro" user="root" password="pass" />
    </dataSource>
    <dataSource id="jdbc/samplejpadatasourcenonjta"
                jndiName="jdbc/samplejpadatasourcenonjta"
                transactional="false">
        <jdbcDriver libraryRef="mysqlJDBCLib" />
        <properties serverName="localhost" databaseName="JPAIntro" user="root" password="pass" />
    </dataSource>


</server>
