<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jsonp-1.1</feature>
    <feature>cdi-2.0</feature>
    <feature>jsf-2.3</feature>
    <feature>jpa-2.2</feature>
    <feature>localConnector-1.0</feature>
    <feature>ejb-3.2</feature>
  </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

    <application location="io.openliberty.guides.jpaguide.war" type="war"
      id="io.openliberty.guides.jpaguide" name="io.openliberty.guides.jpaguide"
      context-root="/">
    </application>

    <!-- Derby Library Configuration -->    
    <library id="derbyJDBCLib">
        <fileset dir="${shared.resource.dir}" includes="derby*.jar"/>
    </library>

    <!-- Datasource Configuration -->
    <dataSource id="samplejpadatasource"
                jndiName="jdbc/samplejpadatasource">
        <jdbcDriver libraryRef="derbyJDBCLib" />
        <properties.derby.embedded databaseName="JPAGuide" createDatabase="create"/>
    </dataSource>
    
</server>
