<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <feature>restfulWS</feature>
    <feature>jsonb</feature>
    <feature>jsonp</feature>
    <feature>cdi</feature>
    <feature>persistence</feature>
  </featureManager>

  <variable name="http.port" defaultValue="5050" />
  <variable name="https.port" defaultValue="5051" />

  <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
                id="defaultHttpEndpoint" host="*" />

  <application location="backendServices.war" type="war" context-root="/"></application>

  <!-- Derby Library Configuration -->
   <!-- tag::shared-dir[] -->
  <library id="derbyJDBCLib">
    <fileset dir="${shared.resource.dir}/" includes="derby*.jar" />
  </library>
  <!-- end::shared-dir[] -->

  <!-- Datasource Configuration -->
  <!-- tag::data-source[] -->
  <dataSource id="eventjpadatasource" jndiName="jdbc/eventjpadatasource">
    <jdbcDriver libraryRef="derbyJDBCLib" />
    <properties.derby.embedded databaseName="EventDB" createDatabase="create" />
  </dataSource>
  <!-- end::data-source[] -->

</server>
